/* Newsletter */
.newsletter {
  padding: 4rem 5rem;
}

.newsletter .input-wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  overflow: hidden;
}

.newsletter h2 {
  font-size: 2.2rem;
  margin: 0 auto 2rem auto;
  max-width: 500px;
  line-height: 2.5rem;
}

.newsletter form {
  max-width: 550px;
}