@import "tailwindcss";
@import "./base.css";
@import "./components.css";


@theme {
    --font-rubik: Rubik, Arial, Helvetica, sans-serif;
    --line-height: 1.5rem;
    --font-size: 16px;
}





/* 2. Layouts (Mobile First) 
@import url("buttons.css");
/*@import url("header.css");
@import url("hero.css");
@import url("features.css");
@import url("extensions.css");
@import url("faq.css");
@import url("newsletter.css");
@import url("footer.css");*/