/* Botons */
.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
  box-shadow: 0 4px 16px rgba(rgba(83, 104, 223, 0.15));
  border: 2px solid transparent;
  transition: box-shadow 0.2s;
}

.btn.primary {
  background: #5368df;
  color: white;
  box-shadow: 0 8px 8px rgba(83, 104, 223, 0.22);
}

.btn.primary:hover {
  border-color: #5368df;
  background-color: white;
  color: #5368df;
}

.btn.secondary {
  background: #eeecece3;
  color: #333;
  box-shadow: 0 6px 24px rgba(83, 104, 223, 0.224);
}

.btn.secondary:hover {
  border-color: #333;
  background-color: white;
}

.btn.danger {
  background: #fa5757;
  color: white;
}

.btn.danger:hover {
  border-color: #fa5757;
  background-color: white;
  color: #fa5757;
}