import .extensions-d.css

/* Extensions */
.extensions {
  padding: 2rem 1rem;
}

.extensions h3 {
  margin-top: 1.5rem
}

.extensions p {
  color: #777;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.extensions a {
  margin-top: 1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.card img[alt="bg-dots"] {
  width: calc(100% + 3rem);
  max-width: none;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  height: auto;
  display: block;
  margin-bottom: 0.5rem;
  object-fit: contain;
}

.card img[alt="logo-chrome"],
.card img[alt="logo-firefox"],
.card img[alt="logo-opera"] {
  width: 20vw;
  height: auto;
  margin: 1rem auto 0.7rem auto;
  display: block;
}