/* Hero */
.hero {
  padding: 4rem 0 6rem 0;
}

.hero-content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  gap: 4rem;
  padding: 0 5rem;
}

.hero-img {
  width: 50%;
  margin: 0;
}

.hero .desktop-content {
  width: 50%;
  text-align: left;
  padding: 0;
}

.hero h1 {
  font-size: 2.7rem;
  line-height: 3rem;
}

.hero p {
  text-align: left;
  padding: 0;
  font-size: 1.15rem;
}

.hero .buttons {
  justify-content: flex-start;
}

/* Fons Dret (Hero) - Adaptació Desktop */
.right {
  top: 25%;
  right: 0;
  transform: translateX(40%);
  width: 60%;
  height: 60%;
  max-width: 900px;
  max-height: 600px;
}