/* Reset 
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Base Body Estils Mòbil 
body {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  color: #333;
  text-align: center;
  font-size: 16px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 auto;
  line-height: 1.5rem;
  padding-top: 64px;
} 
*/